[Unit]
Description=Timesheets SPA

[Service]
Type=simple
User=hw07
Group=hw07
Restart=on-failure
Environment=MIX_ENV=prod "PORT=5002"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/hw07/WebDevHW07
ExecStart=/bin/bash /home/hw07/WebDevHW07/start.sh

[Install]
WantedBy=multi-user.target
